<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <!-- Логи выводятся в консоль и файл. Сообщения с уровнем error дублируются в logs/error.log. Файлы не более 5Мб и не более 10 шт. -->

    <Appenders>
        <!-- Консольный аппендер: выводит логи в стандартный вывод (консоль). -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- Файловый аппендер для записи логов в app.log с ротацией по размеру -->
        <RollingFile name="FileLogger" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/> <!-- Максимальный размер файла 5 МБ -->
            </Policies>
            <DefaultRolloverStrategy max="10"/> <!-- Максимальное количество старых файлов 10 -->
        </RollingFile>

        <!-- Файловый аппендер для записи только ошибок уровня ERROR в error.log с ротацией по размеру -->
        <RollingFile name="ErrorFileLogger" fileName="logs/error.log" filePattern="logs/error-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/> <!-- Максимальный размер файла 5 МБ -->
            </Policies>
            <DefaultRolloverStrategy max="10"/> <!-- Максимальное количество старых файлов 10 -->
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Корневой логгер: применяется по умолчанию ко всем классам. -->
        <Root level="INFO">
            <AppenderRef ref="Console"/> <!-- Логи выводятся в консоль -->
            <AppenderRef ref="FileLogger"/> <!-- Логи записываются в app.log -->
            <AppenderRef ref="ErrorFileLogger"/> <!-- Ошибки ERROR записываются в error.log -->
        </Root>
    </Loggers>
</Configuration>